.container .search-options {
  grid-area: search; }
.container .academics {
  grid-area: academics; }
.container .desktop {
  display: none; }
.container .wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "search"; }
.container .logo1 {
  height: 27px;
  width: 45px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block; }
.container .fa-bars {
  font-size: 25px;
  color: white;
  width: 35px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute; }
.container .fa-angle-left {
  position: absolute;
  text-align: right;
  font-size: 25px;
  color: white;
  width: 35px;
  padding-top: 1px; }
.container .page-indicator {
  background-color: #005030;
  padding: 5px;
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 5px; }
.container h1 {
  border-bottom: 1px solid #979797;
  font-size: 20px;
  font-family: "Helvetica";
  font-weight: normal; }
.container .wrapper {
  padding-left: 20px;
  padding-right: 20px;
  color: #4A4A4A; }
.container .basic-search, .container .additional-search {
  padding-left: 20px;
  font-size: 14px; }
.container .dropdown-selection {
  color: #4A4A4A;
  border-color: #979797;
  background: transparent;
  font-size: 15px;
  font-family: "Helvetica";
  padding-left: 10px;
  height: 30px;
  width: 90%; }
.container .dropdown:after {
  content: '\25BC';
  position: absolute;
  padding-top: 7px;
  color: #4A4A4A;
  font-size: 12px;
  pointer-events: none; }
.container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }
.container .search-object {
  margin-bottom: 15px; }
.container .textfeild {
  box-sizing: border-box;
  height: 30px;
  width: 90%;
  appearance: none;
  border-color: #979797;
  border-width: 1px; }
.container .button1, .container .button2 {
  background-color: #D8D8D8;
  box-sizing: border-box;
  color: #4A4A4A;
  height: 31px;
  width: 125px;
  padding-top: 7px;
  text-align: center;
  font-size: 16px; }
.container .button2 {
  float: right;
  margin-right: 10%; }
.container .basic-search {
  margin-bottom: 30px; }
.container .additional-search {
  font-size: 12px; }
  .container .additional-search .dropdown-selection {
    font-size: 12px; }
.container .slider {
  width: 94%; }
.container .day-check {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px; }
.container .day-choice {
  width: 90%;
  font-size: 10px;
  display: flex;
  justify-content: space-between; }
.container h2 {
  border-bottom: 1px solid #979797;
  font-size: 17px;
  font-family: "Helvetica";
  font-weight: bold;
  margin-top: 20px;
  padding-left: 10px; }
.container .class-info {
  padding-left: 10px;
  font-size: 16px; }
  .container .class-info p {
    font-weight: bold; }
  .container .class-info ul {
    padding: 0;
    margin: 0; }
    .container .class-info ul li {
      list-style-type: none;
      font-weight: 100; }
.container .class-detail ul {
  padding: 0;
  margin: 0; }
  .container .class-detail ul li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 0.1px solid #979797; }
    .container .class-detail ul li:last-child {
      border-bottom: none; }
@media (min-width: 768px) {
  .container .mobile {
    display: none; }
  .container .desktop {
    display: block; }
  .container .logo2 {
    height: 50px;
    width: 80px;
    padding-top: 15px;
    position: absolute; }
  .container .nav {
    text-align: center;
    height: 75px;
    font-size: 18px;
    font-weight: lighter; }
  .container nav ul {
    padding-top: 35px;
    padding-left: 3px;
    margin-top: 0px; }
    .container nav ul li {
      display: inline-block;
      list-style-type: none; }
      .container nav ul li:after {
        content: " |"; }
      .container nav ul li:last-child:after {
        content: ""; }
  .container .current-page {
    font-weight: bold; }
  .container .sub-nav {
    height: 23px;
    font-size: 15px;
    padding-top: 5px; }
  .container .header-container {
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto; }
  .container .wrapper {
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "search academics"; }
  .container h3 {
    color: #005030;
    margin-bottom: 0;
    font-size: 20px; }
  .container aside {
    font-size: 13px;
    font-weight: bold; }
    .container aside ul {
      padding: 0;
      margin: 0; }
      .container aside ul li {
        list-style-type: none;
        padding: 5px;
        border-top: 1px solid #979797;
        border-right: 1px solid #979797;
        border-left: 1px solid #979797; }
        .container aside ul li:last-child {
          border-bottom: 1px solid #979797; } }

.bg-orange {
  background-color: #F47321; }

.bg-green {
  background-color: #005030; }

.text-white {
  color: white; }

.three-column {
  grid-template-columns: 33.33% 33.33% 33.33%; }

.text-center {
  text-align: center; }

body {
  font-family: "Arial", Helvetica, sans-serif; }

.custom-select {
  width: 70%; }

table.t_data {
  /* border: 1px; - **EDITED** - doesn't seem like influences here */
  border-spacing: 1px;
  margin: 0 auto 0 auto; }

table.t_data, th, td {
  border: 1px solid black; }

table.t_data thead th, table.t_data thead td {
  padding: 5px;
  margin: 1px; }

table.t_data tbody th, table.t_data tbody td {
  background-color: #fff;
  padding: 2px; }

.circle:before {
  content: ' \25CF';
  font-size: 30px;
  color: green; }

.circle2:before {
  content: ' \25CF';
  font-size: 30px;
  color: red; }

.circle3:before {
  content: ' \25CF';
  font-size: 30px;
  color: yellow; }

.button1 {
  background-color: grey;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px; }

/*# sourceMappingURL=main.css.map */
