


.container {
  // map areas
  .search-options {
    grid-area: search;
  }

  .academics {
    grid-area: academics;
  }

  .desktop {
    display: none;
  }


  .wrapper {
     display: grid;
     grid-gap: 20px;
     grid-template-columns: 1fr;
     grid-template-areas:
         "search"
  }


  img {
    display: inline;
    height: 27px;
    width: 45px;;
    margin: auto;
    //furthur adjustion needed
  }

  i {
    font-size: 25px;
    color: white;
    width: 35px;
    padding-left: 20px;
  }

  h1 {
    border-bottom: 1px solid #979797;
  }

//button Class
// {
//   background: color;
//   padding:
//   color:
// }





// tablet
  @media(min-width:480px){

  }

// desktop
  @media(min-width:768px){
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }

    .wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 4fr 1fr;
      grid-template-areas:
          "search academics"

    }

  }

}
